@import url("https://fonts.googleapis.com/css2?family=Anton&family=Noto+Sans+KR:wght@100..900&display=swap");

* {
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 0 40px;
  height: 60px;
  background-color: #fff;
  max-width: 1200px;
  margin: 0 auto;
}

.logo img {
  width: 178px;
  height: 50px;
  color: #222;
  flex-shrink: 0;
}

.menu {
  display: flex;
  list-style: none;
  gap: 24px;
  margin: 0 0 0 40px;
  font-weight: 600;
  font-size: 16px;
  color: #000;
  flex-grow: 1;
}

.right-menu {
  display: flex;
  gap: 20px;
  align-items: center;
  flex-shrink: 0;
}

.menu li {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
}

.highlight {
  color: #2978ff;
  position: relative;
  top: -4px;
  font-weight: 700;
  font-size: 12px;
}

.external-link {
  font-size: 14px;
  margin-left: 4px;
  user-select: none;
}

.right-menu {
  display: flex;
  gap: 20px;
  align-items: center;
}

.text-link {
  font-weight: 600;
  font-size: 16px;
  color: #000;
  text-decoration: none;
  cursor: pointer;
  padding: 6px 0;
  border: none;
  background: none;
  transition: color 0.2s ease;
}

.text-link:hover {
  color: #2978ff;
}

.login-btn {
  background: none;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 6px 14px;
  cursor: pointer;
  font-weight: 600;
  color: #000;
  transition: background-color 0.2s ease;
}

.login-btn:hover {
  background-color: #f0f0f0;
}

.icon-menu {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 40px 0;
}

.icon-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  user-select: none;
  font-family: "Noto Sans KR", sans-serif;
  color: #222;
  font-weight: 600;
  font-size: 14px;
}

.icon-box {
  width: 64px;
  height: 64px;
  border: 1px solid #ddd;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
  background-color: #fff;
  box-sizing: border-box;
}

.icon-box img {
  width: 32px;
  height: 32px;
}

p {
  font-size: 14px;
  color: #667380;
}

.grid-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.grid-header h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}

.more-link {
  font-size: 0.9rem;
  color: #6d6d6d;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s;
  line-height: 1.2;
  padding-top: 2px;
}

.more-link:hover {
  color: #333;
}

.course-grid {
  padding: 40px 20px;
  max-width: 1200px;
  margin: auto;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
}

.card {
  background-color: white;
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid #ddd;
  width: calc(33.333% - 20px);
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  transition: background 0.2s, border 0.2s;
}

.card:hover {
  background-color: #fafafa;
  border-color: #e0e0e0;
}

.card-image {
  width: 100%;
  height: auto;
  display: block;
}

.card-body {
  padding: 24px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.course-title {
  font-size: 1rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 10px;
}

.tags {
  display: flex;
  gap: 6px;
  flex-wrap: wrap;
  margin-bottom: 16px;
}

.tag {
  font-size: 0.75rem;
  padding: 4px 6px;
  border-radius: 6px;
  font-weight: bold;
  color: white;
}
.tag.blue {
  background-color: #ebf5ff;
  color: #0078ff;
}
.tag.gray {
  background-color: #dce1e5;
  color: #555;
}

.tag.orange {
  background-color: #fff7de;
  color: #ff850a;
}

.tag.green {
  background-color: #ebfae8;
  color: #3ab03f;
}

.price {
  font-weight: bold;
  font-size: 1rem;
  padding-top: 12px;
  border-top: 1px solid #eee;
  margin-top: auto;
  margin-bottom: 0;
}

.footer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.footer-inner {
  width: 100%;
  max-width: 75rem;
  padding: 0 1.25rem 0px;
  margin: 2.625rem 0 4rem 0;
}

.footer-menus-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  max-width: 1160px;
}

.footer-menus {
  display: flex;
  flex-wrap: nowrap;
}

.footer-menus ul {
  list-style: none;
  padding: 0;
  margin-right: 40px;
  font-size: 14px;
}

.footer-menus ul li {
  margin-bottom: 4px;
  font-size: 14px;
  color: #98a8b9;
}

.footer-menus ul li a {
  text-decoration-line: none;
  color: #98a8b9;
}

.footer-menus ul li a:hover {
  color: #007bff;
}

.menu-title {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 16px;
  color: #44576c;
}

.footer-controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

.footer-controls select {
  width: 120px;
  height: 28px;
  font-size: 12px;
  border: 1px solid #ccc;
  background: #fff;
  border-radius: 4px;
  cursor: pointer;
  padding: 0 8px;
  color: #444;
}

.footer-bottom {
  margin-top: 48px;
  width: 100%;
  max-width: 1160px;
  font-size: 12px;
  color: #666;
}

.footer-info {
  width: 900px;
  padding-top: 0;
  margin-top: 0;
}

.footer-info strong a {
  display: block;
  margin-bottom: 8px;
  text-decoration-line: none;
  color: #98a8b9;
}

.footer-info strong a:hover {
  color: #007bff;
}

.footer-info p {
  color: #98a8b9;
  line-height: 1.5;
  font-size: 12px;
  margin: 0px;
}

.footer-links {
  margin-top: 24px;
  width: 100%;
  max-width: 1160px;
  height: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-links .link-list a:first-child {
  color: #44576c;
}

.footer-links .link-list a {
  margin-right: 20px;
  font-size: 12px;
  color: #98a8b9;
  text-decoration: none;
}

.sns-icons {
  display: flex;
  align-items: center;
}

.footer-links .sns-icons a img {
  margin-left: 8px;
  color: #98a8b9;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 10;
}
